*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Source Sans Pro';
}
.header{
    height: 80px;
    background-color: #fff;
    position: relative;
}
.header .left{
    width: 50%;
    height: 100%;
    position: absolute;
    left:0;
}
.header .right{
    width: 50%;
    height:100%;
    background-color: #fff;
    position: absolute;
    right: 0;
}
.section1{
    height: 550px;
    background-color: #282A35;
    position: relative;
}
.section1 .left{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    padding-top: 100px;
    text-align: center;
}
.section1 .right{
    width: 50%;
    height: 100%;
    background-color: #282A35;
    position: absolute;
    right:0;
}
.logo{
    width: 15%;
    height: 100%;
    position: absolute;
    left: 0;
}
.menu{
    width: 85%;
    height: 100%;
    position: absolute;
    right: 0;
}
.icons{}
.logo img{
    display: block;
    width: 50%;
    margin: 10px auto;

}
.menu ul{
    list-style-type: none;
}
.menu li{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 30px 15px;
}
.menu li:hover{
    background-color: #04aa6d;
    color: #fff;
}
.title{
    font-size: 110px;
    font-weight: bold;
    color: #fff;
}
.desc{
    font-weight: bold;
    font-size: 19px;
    margin-top: 10px;
    color: #fff;
}
.btn1 ,.btn2{
    width: 200px;
    margin:15px auto;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
}
.btn1{
    background-color: #04aa6d;
    color: #fff;
}
.btn2{
    background-color: #fff;
}
.btn1:hover{
    background-color: #04774d;
}
.btn2:hover{
    background-color: rgb(205, 205, 205);
}
.container{
    width: 580px;
    height: 400px;
    background-color: rgb(206, 206, 206);
    margin: 70px auto;
    border-radius: 7px;
    padding: 25px 15px;

}
.code{
    width: 540px;
    height: 240px;
    background-color: #fff;
    margin: auto;
    margin: 15px auto ;
    border-left: 5px solid #04aa6d;
    padding: 10px;
    font-size: 14px;
}
.btn3{
    background-color: #04aa6d;
    color: #fff;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    padding-top: 8px ;
}
.btn3:hover{
    background-color: #04774d;
}
.header .right i{
    padding: 0 10px ;
    margin-top: 25px;
    left: 0;
}
.right ul{
    list-style-type: none;
}
.right li{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
}
.btn4{
    width:100px;
    height: 40px;
    background-color: #04aa6d;
    color: #fff;
    border-radius: 25px;
    text-align: center;
}
.btn4:hover{
    background-color: #04774d;
}